.chat {
  position: fixed;
  bottom: 0px;
  margin-right: 50px;
  right: 0;
  height: 400px;
  overflow: none;
  width: 300px;
  border: 1px solid #d9d9d9;
  border-top:none;
  box-shadow: 1px 11px 3px 1px #e9e9e9;
  border-radius: 7px 7px 0 0 ;
}
.chat md-toolbar {
  height:30px;
  min-height: 30px;
  border-radius: 7px 7px 0 0;
  font-size: 11px;
}
.chat md-toolbar .title {
  font-size: 13px;
   line-height: 4;

}
.chat .container {
  height:295px;
  background-color: #fff;
  padding: 4px;
  overflow-y: auto;
  padding-bottom: 35px;
}
.chat .container .msg {
  border-radius: 10px;
  padding: 7px 9px;
  list-style: none;
  width:70%;
  display: block;
  margin:3px 0px;
  font-size:13px;
}
.chat .container .msg.me {
  background-color: #e9e9e9;
  color:#555;
  float: right;
}
.chat .container .msg.bot {
  background-color: #F44336;
  color:#fff;
  float: left;
}
.chat .field {
  height:30px;
  border-top: 1px solid #e9e9e9;
  padding: 0 9px;
  background: #fff;
}
.chat .field input {
  height:100%;
  width:100%;
  border:none;
  outline: none;
  font-size: 14px;
  color: #555;
}
.chat .field .send-fab {
  position: absolute;
  z-index: 3;
  right:0;
  bottom: -6px;
  width: 30px;
  height: 30px;
  min-height: 30px;
}

.demo {
      position: fixed;
    top: 40%;
    left: 30%;
    transform: translateY(40deg);
    transform: skew(170deg,170deg);
    font-size: 70px;
    color: #d0d0d0;
    text-shadow: 5px 1px #ccc;
}

/* custom scrol bar style */
::-webkit-scrollbar {
    width: 4.5px;
}
 
::-webkit-scrollbar-track {
    background: #e9e9e9;
}
 
::-webkit-scrollbar-thumb {
   background: #a3a3a3;
 }


.ng-enter {
  -webkit-transition: 0.3s;
  transition: 0.3;
  
  opacity: 0;
  position: relative;
  bottom:-7px;
}

.ng-enter-active {
  opacity: 1;
  position: relative;
  bottom:0px;
}

.ng-leave {
  -webkit-transition: 0.3s;
  transition: 1s;
  
  opacity: 1;
  position: relative;
  bottom:0px;
}

.ng-leave-active {
  opacity: 0;
  position: relative;
  bottom:-7px;
}

.ng-move {
  -webkit-transition: 1s;
  transition: 1s;
  
  background: gold;
}

.ng-move-active {
  background: #fff;
}