.screen {
	width:100%;
	display: block;
}
.screen-leftbar {
	background: #f9f9f9;
    display: inline-block;
    float: left;
    height: 100%;
    position: absolute;
    border-right: 1px solid #d5d5d5;
    box-shadow:0px 0px 5px 0.3px #d9d9d9; 
}
.screen-rightbar {
    display: inline-block;
    float:right;
    height:100%;
    position: absolute;
}
/* media queries for width*/
@media screen and (min-width: 0px) and (max-width: 599px) {
   .screen-leftbar {width:200px;min-width: 200px}
   .screen-rightbar {width:700px;min-width: 700px}
}
@media screen and (min-width: 600px) and (max-width: 800px) {
   .screen-leftbar {width:30%;}
   .screen-rightbar {width:70%;left:30%;}
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
   .screen-leftbar {width:25%;}
   .screen-rightbar {width:75%;left:25%;}
}
@media screen and (min-width: 1100px) and (max-width: 2000px) {
   .screen-leftbar {width:22%;}
   .screen-rightbar {width:78%;left:22%;}
}


.app-bar {
  height:50px!important;
  min-height:50px!important;
  position: fixed;
}
.title-bar-height {
    height:50px!important;
    min-height:50px!important;
}
md-sidenav {
  width: 260px!important;
}
.left-bar {
  position: absolute!important;
  top:50px!important;
}
.right-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #000;
    display: -webkit-flex; /* Safari */
    display: flex;
    overflow: auto;
}
.left-bar-align {
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* main site search */
.search-site input[type=text] {
    outline: none;
    border: none;
    padding: 7.7px;
    border-radius: 4.5px;
    font-size: 15px;
    padding-left: 31px;
    width: 230px;
}
.search-site input[type=text]::-webkit-input-placeholder {
  color:#e9e9e9;
}
.search-site .ico {
    position: relative;
    right: -33px;
    top: 4.9px;
    font-size: 19px;
  }
/* api - form  */

.api-form {

  border:1px solid #d9d9d9;
  margin:7px;
  border-radius: 0px 5px 5px 0px;
  height:40px;
  z-index: 4;
  background-color: #e9e9e9;
  box-shadow:0px 0px 5px 0.3px #d9d9d9; 

}
.api-form .input {
   width:75%;
   position: relative;
   float: left;
   z-index: 1;
   background-color: #f9f9f9;
   outline: none;
  border-right:1px solid #d8d8d8;
}
.api-form .input input {
  position: relative;
  outline: none;
  border:none;
  width:98%;
  height:38px;
   padding-left: 9px;
   padding-right: 9px;
   background-color: transparent;
   transition: .2s all;
}

.api-form .input input:focus {
    box-shadow:0px 0px 9px 1px #c9c9c9;
  }

.api-form .select {
  position: relative;
  float: left;
  width:12%;
  height:40px;
  z-index: 1;
  margin-left: -2px;
  border-right: 1px solid #d8d8d8;
}
.api-form .select .drop-btn {
    width: 100%;
    position: relative;
    left: -6px;
    height: 40px;
    top: -6px;
}
.api-form .select button {
    box-shadow: none!important;
    border-radius: 0;
  }
.api-form .select .md-select-value {
  border-bottom-style: none;
}

.api-form .submit {
  position: relative;
  float: left;
  height:40px;
  width:11%;
  z-index: 1;

}
.api-form button {
    min-width:auto!important;
}
.api-form .submit .btn {
    height: 41px;
    top: -7px;
    left: -8px;
    width: 100%;
}
.api-form .submit button {
   border-radius: 0px;
}
.api-form .actions button {
   border-radius: 0px 5px 5px 0px;
}
.api-form .actions {
  position: relative;
  float: left;
  height:40px;
  width:2%;
  z-index: 1;

}
.api-form .actions .drop-btn {
    height: 41px;
    top: -7px;
    left: -8px;
    width: 100%;
    padding: 0px;
}

/* custom scrol bar style */
::-webkit-scrollbar {
    width: 4.5px;
}
 
::-webkit-scrollbar-track {
    background: #e9e9e9;
}
 
::-webkit-scrollbar-thumb {
   background: #a3a3a3;
 }