
<div >






<md-progress-linear md-mode="indeterminate" class="md-primary-900" ng-if="isRefreshing" style="position: fixed;z-index: 30"></md-progress-linear>

	
<md-toolbar style="z-index: 0">
      <div class="md-toolbar-tools">

       <h2 flex md-truncate>Chat Bot Modules</h2>

        <span flex></span>
       <md-button ng-click="createModule()"><md-icon><i class="material-icons">add_box</i> </md-icon> New Module</md-button>
        <md-button ui-sref="track"><md-icon><i class="material-icons">history</i></md-icon> Tracking</md-button>
       <md-button ng-click="refresh()"><md-icon><i class="material-icons">refresh</i></md-icon> Refresh</md-button>
      </div>
    </md-toolbar>


 <md-content style="margin:11px">


<d-table d-class="animation-bottom-long" d-default-style="true" d-animate="true" no-paginationS d-max-rows="4" d-pagination-position="top||bottom" d-search-position="top" d-max-page-links="7"> 

		<table-header>
		    <colm>Id</colm>
			<colm d-sort="req.query">Req</colm>
			<colm d-sort="res.msg">Res Msg</colm>
			<colm d-sort="res.after_msg">Res After</colm>
			<colm d-sort="res.before_msg">Res Before</colm>
			<colm>Res Shortcut</colm>
			<colm>Action</colm>

		</table-header>



		<table-body ng-repeat="m in modules_data.custom_table" class="item" d-filterr="">
		    <colm>{{m.id_}}</colm>
			<colm>{{m.req.query}}</colm>
			<colm>{{m.res.msg}}</colm>
			<colm>{{m.res.after_msg||'-'}}</colm>
			<colm>{{m.res.before_msg||'-'}}</colm>
			<colm><span class='caption'>{{m.res.sub_info.type || "not defined"}}</span>
			<div style="margin-top: 7px">
			<span class='caption' ng-repeat='item in m.res.sub_info.text' md-colors="{background: 'primary-300'}">{{item}}</span></div>
			</colm>
			<colm>
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button ng-click='editModule(m)' class="md-icon-button" aria-label="Comment"><md-icon><i class="material-icons" style="color:green">edit</i></md-icon></md-button>
			<md-button ng-click='deleteModule(m)' class="md-icon-button" aria-label="Comment"><md-icon><i style="color:#cc0000" class="material-icons">remove_circle</i></md-icon></md-button>
			</section>
			</colm>
		</table-body>

</d-table>


</md-content>



<loader ng-if="isLoading"></loader>


</div>