
    <md-toolbar class="md-hue-9 app-bar" ng-style='{"height":Theme_appBarHeight,"min-height":Theme_appBarHeight}'>
    <div class="title-divider" md-colors="{background:'primary-700-0.40'}" ng-style='{ "left": Theme_leftBarWidth,"height": Theme_appBarHeight}'></div>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon ng-click="toggeLeftNav()"><i class="material-icons">menu</i></md-icon>
        </md-button>
        <i class="material-icons" style="margin-right:7px ">beenhere</i>
        <h2>

          <span> API Manager</span>
        </h2>
        <span flex></span>
        <div class="search-site">
        <i class="material-icons ico">search</i>
        <input type="text" md-colors="{background: 'primary-300-0.50',color: 'accent-100'}" placeholder="Search" />
        </div>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon><i class="material-icons">perm_identity</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>