
    <md-toolbar class="md-hue-9 app-bar">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon ng-click="toggleLeftNav()"><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h2>
          <span>API Manager</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon><i class="material-icons">perm_identity</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>