<!-- first md-side nav should be empty and used for just spacing -->



   <md-toolbar class="title-bar-height" md-colors="{background: 'primary-300-0.70'}">
        <h1 class="md-toolbar-tools">Collections</h1>
      </md-toolbar>
   <md-divider></md-divider>   


   <md-content flex class="scroll-y"> 
                      <md-list>
                        <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="item in [1,2,3,4,5,6,7,89,11,22,33,44,55,66,77,88,99,9998,777,666,555,444]" ng-click="null">
                          <div class="md-avatar"><i class="material-icons">android</i></div>
                          <div class="md-list-item-text" layout="column">
                            <h3>Project {{item}}</h3>
                            <h4>Descriptions {{$index}}</h4>
                            <p>Notes {{ $index }}</p>
                          </div>
                          <md-divider></md-divider>
                        </md-list-item>
                     </md-list>
         
    </md-content>

