
<div ng-draggablee='dragOptions' class="chat" style="{{custom_parent_style}};{{chat_custom_height}}">

		<md-toolbar class="md-hue-2">
		 <div class="md-toolbar-tools">
		        <h2>
		          <span class="title">Assistant</span>
		        </h2>
        </div>
        </md-toolbar>




		<chat-scroller class="container" chat-scroller style="{{scroller_custom_height}}">
				<li ng-animate="'animate'" ng-repeat="m in msgs track by $index" class="animation msg {{m.by || 'bot'}} {{m.msg.msg_style}}">
				<ng-include src="'directives/templates/chat-msgs.html'"></ng-include>
				</li>
				<div ng-if="suggestion" ng-include="suggestion_template" class="sug-container"></div>
				<div style="display:{{typing}}" class="msg bot typing">...</div>
		</chat-scroller>

		<div class='field'>
            <input type="text" placeholder="Ask Me" ng-model="query" ng-keyup="bindQueryOnPress($event)"  />
        <md-button class="md-fab md-mini md-primary send-fab" aria-label="Use Android" ng-disabled="query == '' || query == undefined " ng-click="bindQueryOnClick()">
          <md-icon style="color:#fff;line-height: .7;"><i class="material-icons" style="font-size: 15px">send</i></md-icon>
        </md-button>

		</div>




</div>