

<ng-include src="'templates/app_bar.html'"></ng-include>
<div class="title-bar-height"></div>

<div layout="column" ng-cloak>
<section layout="row" flex>

<ng-include src="'templates/left-bar.html'"></ng-include>



<md-content flex layout-padding>

      <div layout="column" layout-align="top left">
      jkl
        <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <p>
        The right sidenav will focus on a specific child element.
        </p>

        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>

        <div>
          <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="md-primary">
            Toggle right
          </md-button>
        </div>
      </div>

      <div flex></div>

    </md-content>

    </section>

    </div>


